section {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 3em;
  article {
    width: 30%;
    position: relative;
    .show {
      position: absolute;
      z-index: 3;
      background-color: #fafafa;
      border: black solid 2px;
    }
    .hide {
      display: none;
    }
    span {
      float: right;
      font-size: 22px;
      color: red;
      border: solid 2px black;
    }
  }
}
