main {
  position: relative;
}

section {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 3em;
  article {
    width: 30%;
    div {
      padding: 1em;
      position: absolute;
      z-index: 3;
      background-color: #fafafa;
      border: black solid 2px;
    }
    .show {
      top: 70%;
      left: 50%;
      width: 70%;
      animation-name: glissfromtop;
      animation-duration: 5s;
      transform: translate(-50%);
    }
    .goToHide {
      width: 70%;
      //top: 120%;
      animation-name: glissOut;
      animation-duration: 2s;
      transform: translate(-50%, 450%);
      left: 50%;
    }
    .hide {
      display: none;
    }
    span {
      float: right;
      font-size: 22px;
      color: red;
      border: solid 2px black;
    }
  }
}

@keyframes glissfromtop {
  from {
    top: -20%;
  }
  85% {
    top: 65%;
  }
}

@keyframes glissOut {
  from {
    transform: translate(-50%, 0%);
  }
}
